<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Five Star</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div id="modal_container" class="modal-container">
            <div id="modal_" class="modal">
                <form class="review-form">
                    <h1 class="modal-heading">What's your rating?</h1>
                    <h4 class="sub-modal-heading">Rating</h4>
                    <div class="stars ">
                        <a class="star">⭐</a>
                        <a class="star">⭐</a>
                        <a class="star">⭐</a>
                        <a class="star">⭐</a>
                        <a class="star">⭐</a>
                    </div>
                    <h4 class="sub-modal-heading">Review</h4>

                    <input type="text" placeholder="Start typing...">
                    <br>
                    <button id="submit_btn" class="submit-btn">submit review</button>
                </form>
            </div>
        </div>
        <header>
            <h1 class="heading1">The Minimalist Entrepreneur</h1>
        </header>
        <div class="rating-container">
            <h4 id="average_rating" class="average-rating">0</h4>
            <div id="open_modal" class="open-modal">
                <div class="stars rated-stars disabled">
                    <a class="star">⭐</a>
                    <a class="star">⭐</a>
                    <a class="star" >⭐</a>
                    <a class="star" >⭐</a>
                    <a class="star">⭐</a>
                </div>
                <button id="add-review-btn" class="add-review-button">Add Review</button>
            </div>
        </div>

        <div>
            <h3 class="reviews-heading">
                Reviews
            </h3>
            <div id="reviews_container">

<!--                <div class="review-list">-->
<!--                    <div class="stars rated-stars disabled">-->
<!--                        <a class="star active">⭐</a>-->
<!--                        <a class="star active">⭐</a>-->
<!--                        <a class="star active" >⭐</a>-->
<!--                        <a class="star active" >⭐</a>-->
<!--                        <a class="star">⭐</a>-->
<!--                    </div>-->
<!--                    <b class="rating-bold">4</b>, &nbsp-->
<!--                    <p class="rating-text">-->
<!--                        book was full of fluff-->
<!--                    </p>-->
<!--                </div>-->
<!--                <div class="review-list">-->
<!--                    <div class="reviewed-start star-container star ">⭐⭐⭐⭐⭐</div>-->
<!--                    <b class="rating-bold">3</b>, &nbsp-->
<!--                    <p class="rating-text">-->
<!--                        book was fluff-->
<!--                    </p>-->
<!--                </div>-->
<!--                <div class="review-list">-->
<!--                    <div class="reviewed-start star-container star">⭐⭐⭐⭐⭐</div>-->
<!--                    <b class="rating-bold">4</b>, &nbsp-->
<!--                    <p class="rating-text">-->
<!--                        book was amazing-->
<!--                    </p>-->
<!--                </div>-->
            </div>
        </div>

    </div>
    <script defer src="script.js"></script>
</body>
</html>