*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url("./Helvetica Neue UltraLight.ttf");
}

body{
    display: flex;
    justify-content: center;
    align-content: center;
}

.wrapper{
    margin: 5rem 0px 5rem 0px;
}
.heading1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 52px;
}
.reviews-heading{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    padding: 3rem 0 3rem 0;
}

.rating-box{
    border-bottom: 1px solid #B9B9B9;
    padding: 3rem 0px 3rem 0px;
}
.average-rating{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 52px;
}

.star-container{
    font-size: 35px;
}

.star{
    text-decoration: none;
}

.star-container:hover{
    cursor: pointer;

}

.submit-button{
    padding: 10px;
    background: #FFFFFF;
    /* CCCCCC */

    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    /* shadow-3 */

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    color: #797874;
}
.submit-button:hover{
    background-color: #797874;
    color: white;
}

.rating-container{
    display: flex;
    padding: 3rem 0px 3rem 0px;
    border-bottom: 1px solid #B9B9B9;;
}
.open-modal {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
}


.reviewed-start {
    padding-right: 15px;
}
.review-list{
    flex-basis: 100%;
    display: flex;
    padding: 0 0 3rem 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;

}

.modal-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0 ,0.3);
    position: fixed;
    top:0;
    left: 0;
    height: 100vh;
    width: 100vw;
    /*    hide */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}
.modal{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    width: 680px;
    height: 503px;
    /*text-align: center;*/
    padding: 40px 50px;
}

.modal-container.show{
    pointer-events: all;
    opacity: 1;
}

.modal-heading{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 52px;
}