*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url("assets/Helvetica Neue UltraLight.ttf");
}

body{
    display: flex;
    justify-content: center;
    align-content: center;
}

.wrapper{
    margin: 5rem 0 5rem 0;
}
.heading1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 52px;
}
.reviews-heading{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    padding: 30px 0 30px 0;
}

.rating-box{
    border-bottom: 1px solid #B9B9B9;
    padding: 3rem 0 3rem 0;
}
.average-rating{
    margin-right: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 52px;
}




.star-container:hover{
    cursor: pointer;
}
.stars.disabled{
    pointer-events: none;
}
.star{
    text-decoration: none;
    font-size: 2rem;;
    margin: 0;
}

.stars {
    display: flex;
}
.stars a {
    filter: saturate(0);
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    margin: 0;
}
.stars:hover a{
    filter: saturate(1);
}

.stars a:hover {
    filter: saturate(1);
}

.stars a:hover ~ a{
    filter: saturate(0);
}

.stars a.active{
    filter: saturate(1);
}


.add-review-button{
    width: 120px;
    height: 40px;
    /*padding: 10px;*/
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    color: #797874;
}
.add-review-button:hover{
    background-color: #797874;
    color: white;
}

.rating-container{
    display: flex;
    padding: 3rem 0 3rem 0;
    border-bottom: 1px solid #B9B9B9;;
}
.open-modal {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
}


.reviewed-start {
    padding-right: 15px;
}
.review-list{
    flex-basis: 100%;
    display: flex;
    padding: 0 0 23px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;

}

.modal-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0 ,0.3);
    position: fixed;
    top:0;
    left: 0;
    height: 100vh;
    width: 100vw;
    /*    hide */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 9999;
}
.modal{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    width: 680px;
    height: 503px;
    /*text-align: center;*/
    padding: 40px 50px;
}

.modal-container.show{
    pointer-events: all;
    opacity: 1;
}

.modal-heading{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 52px;


}

.sub-modal-heading {
    /*margin: 15px 0 15px 0;*/

    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0;
    text-align: left;

}

.review-form{
    flex-direction: column;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

input[type=text] {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    border: none;
}

input[type=text]:focus {
    border: 0;
    outline: none;
}

.submit-btn {

    /*box*/
    height: 48px;
    width: 218px;
    left: 0px;
    top: 0px;
    border-radius: 4px;


    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;

    background: #FFFFFF;
    /* CCCCCC */

    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    /* shadow-3 */

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.submit-btn:hover{
    background-color: #797874;
    color: white;
}
